.tests {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    background-color: #f6f6f6;
    position: relative;
    padding: 1em;
    padding-left: 3em;
    margin-bottom: 2em;

    &::before {
      content: "";
      display: block;
      width: 2em;
      background-color: #f0ad4e;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
    }
  }
}
